*{
    margin: 0px;
    padding: 0px;
}
.top{/*creating a topmost section*/
    display: flex;
    justify-content: center;
    align-items:center; 
    gap: .5px;
}
#heading{
    background-color: #001524;
    color: white;
    padding: 2rem;
    width: 70vh;
    margin-right: .5rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 20px;
    border-bottom: white;
    border: 10px solid transparent;
    padding: 20px;

    
    
}
.body{
    background-color: #001524;
    color: white;
    padding: 2rem;
    width: 70vh;
    height: 25rem;
    margin-left: 26.5rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 20px;
    border-bottom: white;
    border: 10px solid transparent;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    gap: 10px; /* Creates a */
    
}
#txt{
    padding: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    background-color: #d6cc99;
    
}
#level{
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    background-color: #d6cc99;
    color: black;
}
#restart-btn{
    padding:10px;
    border-radius: 10%;
    width: 30%;
    margin-left: 9.5rem;
    background-color: cadetblue;
}
